/* Paragraph */
p{
  background-color: White;
  opacity: .8;
}
p.left{
  text-align: left;
  color: #006400;
  font-family: fantasy;
  font-size: 20pt;
}
p.middle{
  text-align: middle;
  color: #800000;
  font-family: monospace;
  font-size: 34pt;
}
p.right{
  text-align: right;
  color: #FFFFFF;
  background-color: MidnightBlue;
  font-family: cursive;
  font-size: 20pt;
}
p.header{
  text-align: middle;
  color: #000000;
  font-family: serif;
  font-size: 28pt;
}
p.topic{
  text-align: left;
  color: #000000;
  font-family: sans-serif;
  font-size: 24pt;
}
p.list{
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 18pt;
}
p.bio{
  text-align: left;
  font-family: sans-serif;
  font-size: 20pt;
}
/* Lists */
ul{
  background-color: white;
  opacity: .8;
}
ol{
  background-color: white;
  opacity: .8;
}
/* Body */
body{
  background-image: url("images/tile.jpg");
}
div.main{
  text-align: center;
  border-style: dashed;
  border-color: black;
  border-width: 10px;
}
div.top{
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-width: 10px;
}
div.middle{
  text-align: center;
}
/* Links */
a.insert{
  text-decoration: inherit;
}
a.insert:link{
  color: Blue;
}
a.insert:visited{
  color: Purple;
}
a.insert:hover{
  color: lightblue;
}
a.insert:active{
  color: white;
}

a.top{
  background-color: SandyBrown;
  display: inline-block;
  text-align: center;
  font-size: 30pt;
  padding: 10px 15px;
  text-decoration: none;
}
a.top:link{
  color: White;
}
a.top:visited{
  color: White;
}
a.top:hover{
  color: grey;
}
a.top:active{
  color: Black;
}
